.contact {
  width: 100%;
  background: whitesmoke;
  color: black;
  margin: auto;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  position: relative;
  z-index: 100;
  h3 {
    font-size: 2em;
    position: relative;
    margin: 20px 0;
  }
  .social {
    width: 100%;
    padding: 20px;
    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding: 20px 0;
        min-width: 200px;
        a {
          color: white;
          text-decoration: none;
          &:nth-child(1):hover {
            color: #3b5998;
          }
          &:nth-child(2):hover {
            color: #00acee;
          }
          &:nth-child(3):hover {
            color: #c13584;
          }
          &:nth-child(4):hover {
            color: #0e76a8;
          }
        }
      }
    }

    .facebook,
    .twitter,
    .instagram,
    .linkedin {
      display: block;
      font-size: 1em;
    }
    .facebook {
      color: #3b5998;
    }
    .twitter {
      color: #00acee;
    }
    .instagram {
      color: #c13584;
    }
    .linkedin {
      color: #0e76a8;
    }
  }
}
