@mixin flexed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
$bg: #222222;
$primary-color: #393e46;
$secondary-color: #eeeeee;
$med-yellow: #ccb94e;

.header {
  width: 100%;
  margin: auto;
  @include flexed();
  padding: 15px 30px;
  font-family: 'Noto Sans JP', sans-serif;
  background: $bg;
  opacity: 0.95;
  box-shadow: 0px 2.5px 30px #2c2c2c;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: padding 0.3s;
  z-index: 999;
}
.window-bar {
  background: linear-gradient(
    to right,
    rgb(59, 54, 1),
    rgb(108, 109, 29),
    rgb(240, 240, 37)
  );
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.left {
  a {
    color: $secondary-color;
    display: block;
    position: relative;
    font-size: 30px;
    &:hover {
      color: $med-yellow;
    }
  }
}
.right {
  svg {
    font-size: 40px !important;
    &:hover {
      color: $med-yellow;
    }
  }
}
.full_nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #222222;
  z-index: 1000;
  .top_right {
    position: absolute;
    top: 0%;
    right: 30px;
    font-size: 3.8rem;
    font-weight: 900;
    color: gray;
    transition: color 0.3s;
    &:hover {
      color: white;
    }
  }
  .nav_Links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 2px;
    list-style-type: none;
    li {
      a {
        color: $secondary-color;
        position: relative;
        transition: 0.5s;
        font-weight: 700;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        transition: color 0.5s;
        background: -webkit-linear-gradient(
          #f0bdbd 0%,
          #ddcc89 50%,
          #102c26 100%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
          text-decoration: none;
          transition: 0.5s;
          margin-left: -5px;
          background: $med-yellow;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          span {
            opacity: 1;
            margin-top: 10px;
            width: 20%;
            height: 2px;
            background: #ccb94e;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.5s;
          }
        }
        span {
          transition: 0.5s;
          opacity: 0;
        }
      }
    }
  }
}

.nav-enter {
  opacity: 0;
}

.nav-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.nav-exit {
  opacity: 0;
}

.nav-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
