@media only screen and (max-width: 988px) {
  .Containedcircle {
    .circle {
      width: 300px !important;
      height: 300px !important;
    }
  }
  .featuredProject:after {
    font-size: 3.5em !important;
    top: 3% !important;
  }
}
@media only screen and (max-width: 768px) {
  .Containedcircle {
    .circle {
      width: 200px !important;
      height: 200px !important;
      .textBtn {
        &:hover {
          span {
            font-size: 18px !important;
          }
          h1 {
            font-size: 42px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 474px) {
  .featuredProject:after {
    font-size: 2.5em !important;
    top: 5% !important;
  }

  .Containedcircle {
    .circle {
      width: 150px !important;
      height: 150px !important;
      margin: auto !important;
      .textBtn {
        span {
          font-size: 8px !important;
        }
        h1 {
          font-size: 20px !important;
        }
        &:hover {
          span {
            font-size: 8px !important;
          }
          h1 {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .home .homeContainer .detailCon .detail h3 strong {
    font-size: 2em !important;
  }
  .home .homeContainer .detailCon .detail p {
    font-size: 1.4em !important;
  }
  .home .homeContainer .detailCon .detail .detailBTN {
    margin-bottom: 30px !important;
  }
}
@media only screen and (max-width: 380px) {
  .featuredProject .featured {
    font-size: 0.5em;
  }
}

.home {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 0.8px;
  font-weight: 400;
  text-align: center;
  position: relative;
  .homeContainer {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 20px;
    .detailCon {
      .detail {
        color: gray;
        h3 {
          font-weight: 600;
          text-align: left;
          strong {
            text-align: center;
            font-size: 3em;
            display: block;
            margin: 20px;
            background: -webkit-linear-gradient(
              #f0bdbd 0%,
              #ddcc89 50%,
              #102c26 100%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        p {
          padding: 40px 0;
          font-weight: 600;
          font-size: 1.8em;
          letter-spacing: 3px;
        }
        .detailBTN {
          outline: none;
          border: 0;
          border-radius: 10px;
          padding: 12px 40px;
          font-size: 1.2em;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          font-weight: 500;
          margin-bottom: 60px;
          background-image: linear-gradient(to right, #16a085 0%, #f4d03f 100%);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease 0s;
          cursor: pointer;
          &:hover {
            transition: all 0.3s ease 0s;
            transform: translate(-1px, -3px);
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            background-image: linear-gradient(
              to right,
              #f4d03f 0%,
              #16a085 100%
            );
          }
        }
      }
    }
    .image {
      width: 100%;
      height: 500px;
      background: url(../img/c3.png);
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      box-shadow: 29px 29px 30px #13161a;
    }
  }

  .informationUser {
    font-size: 3em;
  }
  div {
    width: 100%;
  }
  .sliderDetail {
    width: 100%;
    height: 80vh;
  }
}
.featuredProject {
  position: relative;
  z-index: 10;
  width: 100%;
  color: white;
  text-align: center;
  padding: 80px 0;
  .featured {
    position: relative;
    padding-left: 40px;
    font-size: 1em !important;
    color: rgb(165, 163, 163);
    span:nth-child(1) {
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transform: translateY(-50%);
      background: #ccb94e;
    }
    span:nth-child(2) {
      position: absolute;
      top: 50%;
      left: 1px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: translateY(-50%);
      background: green;
      animation: circleAnime 12s infinite;
      z-index: 400;
      @keyframes circleAnime {
        0% {
          background: black;
        }
        100% {
          background: green;
        }
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 30%;
      left: 2px;
      width: 5px;
      height: 50%;
      background: #ccb94e;
      transform: rotate(40deg) skewY(20deg) translateY(-50%);
      animation: rotatingLine 3s infinite;
    }
    &:before {
      content: '';
      position: absolute;
      top: 30%;
      left: 2px;
      width: 5px;
      height: 50%;
      background: #ccb94e;
      transform: rotate(40deg) skewY(20deg) translateY(-50%);
      animation: rotatingLine 4s infinite;
    }

    @keyframes rotatingLine {
      0% {
        transform: rotate(40deg) skewY(20deg) translateY(-50%);
      }
      100% {
        transform: rotate(400deg) skewY(20deg) translateY(-50%);
      }
    }
  }
  .sliderDetail {
    height: 350px;
    &:hover {
      .hoverDetails {
        opacity: 1;
        background: linear-gradient(
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.6)
        );
      }
    }
  }
  .hoverDetails {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: opacity 0.5s;
    .hoverIcon {
      font-size: 30px;
      color: #ccb94e;
      margin: 0 20px;
      cursor: pointer;
      &:hover {
        color: #abccc1;
      }
    }
  }
  &:after {
    content: 'Featured Projects';
    width: 100%;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 4em;
    opacity: 0.2;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1s;
  }
  &:hover {
    &:after {
      color: white;
      opacity: 1;
    }
  }
}
.forMoreProjects {
  margin: 60px auto auto auto;
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 2px;

  a {
    color: black;
    background: 232931;
    padding: 10px 20px;
    border-radius: 66px;
    background: #21658c;
    box-shadow: 2px 2px 30px #194e6c, -2px -2px 30px #297cac;
    transition: 0.5s;
    background-image: linear-gradient(to right, #f4d03f 0%, #16a085 100%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    &:hover {
      color: black;
      text-decoration: none;
      box-shadow: 0px 5px 20px rgba(46, 229, 157, 0.4);
      background-image: linear-gradient(to right, #16a085 0%, #f4d03f 100%);
    }
  }
}
.socialIcons {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;

  li {
    list-style: none;
    display: inline-block;
    margin: 0 30px 0 0;
    a {
      font-size: 2.5em;
      color: gray;
    }
    &:nth-child(1):hover {
      a {
        color: #3b5998;
      }
    }
    &:nth-child(2):hover {
      a {
        color: #00acee;
      }
    }

    &:nth-child(3):hover {
      a {
        color: #0e76a8;
      }
    }
    &:nth-child(4):hover {
      a {
        color: #e1306c;
      }
    }
  }
}

.contactModel {
  color: gray;
  padding: 40px;
  cursor: default;
  h1 {
    width: 100%;
    position: relative;
    font-size: 4em;
    font-weight: 900;
    padding: 10px;
    &::after {
      content: '';
      width: 50%;
      height: 1px;
      background: gray;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 10px 10px gray;
    }
  }
  .medias {
    h1 {
      font-size: 2em !important;
    }
  }
  .email {
    a {
      display: inline-block;
      font-size: 2em;
      background: #ccb94e;
      color: white;
      margin: 5px;
      padding: 5px 20px;
      border-radius: 10px;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }

  .close {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    float: none;
    color: #000000;
    opacity: 1;
    font-size: 2em;
    font-weight: 900;
  }
}
.contact-ab {
  text-align: center;
  margin-top: 40px;
  .btn-contact {
    display: inline-block;
    text-align: center;
    background: #c71d1d;
    padding: 10px 20px;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.Containedcircle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
  .circle {
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 50%;
    transition: 1s;
    position: relative;
    .border-Box {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      border: 10px solid #ccb94e;
      border-color: white #ccb94e;
      animation: borderAnime 40s infinite;
      @keyframes borderAnime {
        0% {
          transform: rotate(0deg);
          border-color: #ccb94e #423905;
        }
        50% {
          transform: rotate(360deg);
          border-color: white #ccb94e;
        }
        100% {
          transform: rotate(0deg);
          border-color: #ccb94e #423905;
        }
      }
    }
    .textBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      transform: translate(-50%, -50%);
      span {
        transition: 1s;
      }
      h1 {
        transition: 1s;
      }
      &:hover {
        span {
          font-size: 20px;
        }
        h1 {
          font-size: 62px;
        }
      }
    }
    &:hover {
      .textBtn {
        color: #ccb94e;
      }
    }
  }
}
