@media screen and (max-width: 768px) {
  .progressBar {
    width: 90% !important;
    padding: 20px 0 !important;
  }
}

.progressBar {
  margin: 40px auto;
  padding: 20px;
  position: relative;
  z-index: 600;
  width: 50%;

  .progressList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    .name {
      width: 180px;
      line-height: 1.8;
      font-weight: 700;
      height: 30px;
      text-align: center;
      background: #39ac85;
      color: #151516;
      border-radius: 5px 0 0 5px;
      text-transform: uppercase;
    }
    .sliderBar {
      width: calc(100%-230px);
      height: 30px;
      background: linear-gradient(to right, #39ac85, #369777, #1b694f, #067a54);
      transform-origin: left;
      animation: animateProgress 2s ease-in-out;
      animation-fill-mode: forwards;
    }
    @keyframes animateProgress {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }
    .per {
      text-align: center;
      height: 30px;
      width: 50px;
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: 0px;
      background: white;
      color: #393e46;
      border-radius: 0 5px 5px 0;
    }
  }
}
