.workhome {
  text-align: center;
  margin: 60px 0;
  p {
    margin: 20px 0;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0 20px;
      a {
        color: #4ecca3;
      }
    }
  }
}
